/* src/components/NewsItem/NewsItem.module.css */

.newsItemContainer {
    border-radius: 15px;
    border-color: aqua;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #ffffff;
    /* Додати білий фон для контрасту */
}

.newsItemContainer:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.newsItemImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 15px;
}

.newsItemTitle {
    font-size: 1.8rem;
    font-weight: 700;
    /* Робимо ще жирнішим */
    font-family: 'Poppins', sans-serif;
    color: #222;
    margin-bottom: 10px;
    line-height: 1.3;
}

.newsItemDescription {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}

.newsItemSources {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.newsItemSources a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #007BFF;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.newsItemSources a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.linkIcon {
    font-size: 1rem;
    /* Розмір іконки */
}