/* src/pages/Collections/Collections.module.css */

.collectionsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    /* Автоматичні стовпці */
    grid-auto-rows: 200px;
    /* Однакова висота для всіх карток */
    gap: 20px;
    /* Проміжки між картками */
    padding: 20px;
}

.cardWrapper {
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    display: flex;
    /* Використання flexbox */
    justify-content: center;
    /* Центруємо зображення */
    align-items: center;
    /* Центруємо зображення вертикально */
}

.cardWrapper:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.square {
    grid-row: span 2;
    /* Займає два рядки */
    grid-column: span 2;
    /* Займає два стовпці */
}

.rectangle {
    grid-row: span 1;
    grid-column: span 1;
}

.cardContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Заповнює контейнер без спотворення */
    border-radius: 10px;
    /* Додає округлення країв */
}

.cardContainer:hover img {
    transform: scale(1.05);
}