/* src/components/Logo/Logo.module.css */

.logoContainer {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    /* Текст білий */
    position: relative;
    z-index: 1;
    padding: 5px;
    /* Відступи для покращення вигляду */
    border-radius: 5px;
    /* Згладжує кути */
    transition: transform 0.3s ease;
    /* Додаємо анімацію трансформації */
}

.logoImage {
    width: 60px;
    height: auto;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5)) brightness(10);
    /* Збільшена яскравість */
    transition: transform 0.3s ease;
    /* Додаємо анімацію трансформації для зображення */
}

.logoText {
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    /* Збільшено розмір тіні */
    color: #fff;
    /* Переконайтеся, що текст білий */
}

/* Медіа-запити для адаптивності */
@media (max-width: 768px) {
    .logoText {
        display: none;
        /* Сховати текст на мобільних пристроях */
    }
}

@media (min-width: 769px) {
    .logoImage {
        margin-right: 10px;
        /* Відстань між зображенням і текстом на великих екранах */
    }
}

/* Додаємо ефект збільшення при наведенні */
.logoContainer:hover {
    transform: scale(1.1);
    /* Збільшення логотипу на 10% */
}

.logoContainer:hover .logoImage {
    transform: scale(1.1);
    /* Збільшення зображення логотипу на 10% */
}