/* src/components/Navigation/Navigation.module.css */
/* src/components/Navigation/Navigation.module.css */
.navLinks {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.navLinks a {
    color: #fff;
    /* Колір тексту */
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
    /* Анімація зміни кольору */
}

/* Зміна кольору іконки при наведенні */
.navLinks a:hover .icon {
    color: #00bfff;
    /* Голубий колір при наведенні */
}

/* Зміна кольору іконки для активного посилання */
.navLinks a.activeLink .icon {
    color: #ffcc00;
    /* Жовтий колір для активної сторінки */
}

/* Додати кольори для іконок за замовчуванням */
.navLinks a .icon {
    color: inherit;
    /* Наслідує колір з батьківського елемента (білий) */
    transition: color 0.3s ease;
    /* Анімація для зміни кольору */
}