/* Стилі для контейнера додавання елементів */
.addElementContainer {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Приховуємо поле вибору файлу */
.fileInput {
    display: none;
    /* Приховуємо стандартне поле input */
}

/* Стилі для кнопки завантаження фото */
.uploadButton {
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
}

.uploadButton:hover {
    background-color: #218838;
}

/* Стилі для доданого зображення */
.uploadedImage {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: 20px;
}