.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    height: 100px;
    position: relative;
}

.footerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.copyright {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.indicatorWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.lightBulb {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

/* Коли лампочка активна, вона буде золотистою */
.lightBulb.active .icon {
    transform: scale(1.1);
    /* Збільшення при активації */
    stroke: #FFD700;
    /* Золотий колір для активної лампочки */
}

/* Для неактивної лампочки */
.lightBulb .icon {
    transform: scale(1);
    /* Без збільшення */
    stroke: #808080;
    /* Сірий колір для неактивної лампочки */
}

.footerContainer::after {
    content: '';
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media (max-width: 600px) {
    .footerContainer {
        padding: 15px 5px;
    }

    .footerContent {
        flex-direction: column;
        align-items: center;
    }
}